# Crontab for updating terms.
# Symlink into /etc/cron.d/
PYTHONPATH=/srv/www/hitzokei/:/srv/www/hitzokei/django-socialdict/
DJANGO_SETTINGS_MODULE=hitzokei.settings
15,45 * * * * root python /srv/www/hitzokei/django-socialdict/socialdict/bin/update_terms.py
