/*
 * GENERAL
 */
body
{
    background-color: #ffffff;
    color: #000000;
    margin: 40px auto;
    width: 740px;
    padding: 0;
    font-family: 'Georgia', serif;
    font-size: 16px;
    line-height: 1.2;
}

h1,
h2,
h3
{
    background-color: inherit;
    color: #333333;
    font-variant: small-caps;
    text-shadow: 0 0 1px #666677;
}

h1 a, h1 a:hover, h1 a:visited,
h2 a, h2 a:hover, h2 a:visited
{
    background-color: inherit;
    color: inherit;
    text-decoration: none;
}

h2,
h3
{
    margin-bottom: 0.3em;
}

ul
{
    list-style-type: square;
}

dl,
ul,
p
{
    margin-top: 0px;
}


/*
 * MAIN
 */
.meta
{
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px 0;
    padding: 1em 0;
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
}

#alphabet ul
{
    padding: 0;
    margin: 0;
    white-space: nowrap;
    list-style-type: none;
    text-align: center;
}

#alphabet ul li
{
    display: inline;
}

#alphabet ul li a
{
    padding: 0.2em 0.5em;
    text-decoration: none;
}

#alphabet ul li a:hover
{
    border-color: #cccccc;
    border-style: solid;
    border-width: 0 0 1px;
}

dl.top-authors dt
{
    float: left;
    text-align: right;
    width: 50px;
    font-weight: bold;
}

dl.top-authors dd
{
    margin-left: 60px;
}


/*
 * TERMS
 */
.term-name
{
    font-weight: bold;
    text-transform: uppercase;
}

h2 span.author
{
    font-size: 0.6em;
    font-weight: normal;
    font-variant: normal;
    text-shadow: none;
}


/*
 * PAGINATION
 */
ul.pagination
{
    list-style-type: none;
    display: inline-block;
    margin-top: 1em;
}

ul.pagination li
{
    float: left;
    text-align: center;
}

ul.pagination li a,
ul.pagination li a:visited
{
    border: 1px solid #000000;
    text-decoration: none;
}

ul.pagination li a:hover
{
    border: 1px solid #ffffff;
    background-color: #000000;
    color: #ffffff;
}

ul.pagination li span.current,
ul.pagination li a
{
    margin: 0.1em;
    padding: 0.2em 0.5em;
}

ul.pagination li a.nth,
ul.pagination li a.prevnext
{
    font-weight: bold;
}

ul.pagination li span.current
{
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
    font-weight: bold;
}


/*
 * FORMS
 */
form p input,
form p textarea
{
    display: block;
}

ul.errorlist
{
    list-style-type: none;
    background-color: inherit;
    color: #ff0055;
    font-weight: bold;
}
