{% extends "base.html" %}

{% block title %}{{ block.super }} &raquo; {{ letter }}{% endblock title %}

{% block main_heading %}{{ block.super }} &raquo; {{ letter }}{% endblock main_heading %}

{% block content %}

{% if object_list.count %}
    {% for term in object_list %}
    <h2>{{ term.name|safe }} <a href="http://twitter.com/{{ term.social_user }}/status/{{ term.status_id }}" title="{{ term.date_added }}"><span class="author">@{{ term.social_user }}</span></a></h2>
    <p>{{ term.meaning|safe }}</p>
    {% endfor %}
{% else %}
    <h2>Ez dago ezer.</h2>
{% endif%}

{% endblock content %}
