{% load socialdict_tags %}

<html lang="eu">
    <head>
        <title>{% block title %}Hitzokei{% endblock title %}</title>
        <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/base.css"/>
        <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url 'hitzokei-feed' %}">
    </head>
    <body>
        <h1><a href="{% url 'hitzokei_home' %}" title="Itzuli hasiera-orrira.">{% block main_heading %}Hitzokei{% endblock main_heading %}</a></h1>
        <p class="meta">
            {% render_socialdict_totals %}
        </p>
        <div id="alphabet">
            {% render_socialdict_alphabet %}
        </div>

        {% block content %}{% endblock content %}

        <p class="meta">
        {% comment %}· Hitza falta? <a href="{% url 'socialdict_add_term' %}" title="Gehitu hitzokei berria">Gehitu berria</a>{% endcomment %}
        <a href="{% url 'hitzokei_about' 'about' %}" title="Webgune honi buruzko argibideak">Honi buruz</a>
        </p>
    </body>
</html>
